name: {{MODULE}}
environment:
  sdk: '3.5.3'
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: any
  intl_utils: 2.8.7

flutter_gen:
  output: gen/
  line_length: 80

flutter_intl:
  enabled: true
  class_name: {{CLASS_NAME}}
  arb_dir: l10n/arbs
  output_dir: l10n/generated
