import 'package:flutter_modular/flutter_modular.dart';

class $ClassName$Module extends Module {
  static String get path => "/$FileName$";

  @override
  void routes(RouteManager r) {
    // THIS IS EXAMPLE, REMOVE IT
    // r.child(
    //   OnBoardPathEnum.splash.path,
    //   child: (context) => SplashScreen(argument: r.args.data),
    // );
    super.routes(r);
  }
}

enum $ClassName$PathEnum {
  none("/");

  final String path;
  const $ClassName$PathEnum(this.path);
}
