part of '$FileName$_screen.dart';

class _$ClassName$ScreenBody extends StatefulWidget {
  const _$ClassName$ScreenBody({
    this.argument,
  });
  final $ClassName$Argument? argument;
  @override
  State<_$ClassName$ScreenBody> createState() => __$ClassName$ScreenBodyState();
}

class __$ClassName$ScreenBodyState extends State<_$ClassName$ScreenBody> {
  late final bloc = context.read<$ClassName$Bloc>();

  @override
  Widget build(BuildContext context) {
    return Container();
  }
}
