import 'package:app/modules/common/components/base_screen/base_screen.dart';
import 'package:flutter/material.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'bloc/$FileName$_bloc.dart';
import 'models/$FileName$_argument.dart';

part '$FileName$_screen_body.dart';

class $ClassName$Screen extends StatelessWidget {
  const $ClassName$Screen({
    super.key,
    this.argument,
  });
  final $ClassName$Argument? argument;
  @override
  Widget build(BuildContext context) {
    return BaseScreen(
      configs: BaseScreenConfigs(
        scaffoldConfigs: ScaffoldConfigs(
          body: BlocProvider(
            create: (context) => $ClassName$Bloc(),
            child: _$ClassName$ScreenBody(argument: argument),
          ),
        ),
      ),
    );
  }
}
