import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:freezed_annotation/freezed_annotation.dart';

part '$FileName$_event.dart';
part '$FileName$_state.dart';
part '$FileName$_bloc.freezed.dart';

class $ClassName$Bloc extends Bloc<$ClassName$Event, $ClassName$State> {
  $ClassName$Bloc() : super(const _Initial()) {
    on<$ClassName$Event>((event, emit) async {
      event.map(
        started: (value) async {},
      );
    });
  }
}
